/* navar generar opacity */
/* #navbar navbar-expand-lg bg-body-tertiary {
    background: url(..assent/img/telecomunicaciones-evolución.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;

    
  }*/

.header .navbar {
    opacity: 25%;
  }
  
  .Hola{text-align: center;
    color: black;
    opacity: "50%";
}
.Texto_Formal{text-align: justify;color: rgb(50, 36, 36);}
.container-fluid {text-align: center;}
/*nav {text-align: center;}*/
body{color: rgb(16, 10, 29);
font-family:'Times New Roman';
opacity: 95%;text-align: justify;
}
.Experiencia {border: 5px;background-color: rgb(214, 214, 209);text-align: center;color: rgb(0, 0, 0);}

button {    padding: 14px 28px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(243, 245, 244) ;
  background-color: rgb(12, 12, 55);
  overflow: hidden;
  font-weight:bold;}

.button-container {
  text-align: center;
}
.hola4 {text-align: center;font-family: 'Times New Roman'}
/* html {height: 100%;}body {background-image: linear-gradient(to right, #FFFFFF, rgb(46, 34, 221));}  degradado*/

.wrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/img/telecomunicaciones-evolución.jpg);
  background-size: cover;
  background-position: center;
}
.wrap-texto{color: rgb(17, 0, 0);text-align: center;width: 150%;}
